<fieldset>
  <legend>App settings configuration</legend>

  <div>@Configuration["Key01"]</div>
  <div>@Configuration["Key02"]</div>
  <div>@Configuration["Key03"]</div>
  <div>@Configuration["Key03:Key0301"]</div>
  <div>@Configuration["Key04:Key0401"]</div>
  <div>@Configuration["Key04:Key0404"]</div>

</fieldset>
