<fieldset>

  <div>
    @@bind 用来实现双向绑定, 可以绑定 field/property/indexer.
  </div>

  <input @bind="@inputValue01">
  <input value="@inputValue01" @onchange="@(args => inputValue01 = args.Value?.ToString())">

  @inputValue01
</fieldset>

<fieldset>
  <div>
    @@bind 默认使用的是 onchange 事件, 可以通过 @@bind:event 指定使用其他的事件.
  </div>

  <input @bind="@inputValue02" @bind:event="oninput">
  <input value="@inputValue02" @oninput="@(args => inputValue02 = args.Value?.ToString())">

  @inputValue02
</fieldset>
