<fieldset>
  <Child01 X="@x"></Child01>

  <button @onclick="@UpdateX">x = 9</button>
  <button @onclick="@UpdateX02">x = 6</button>

</fieldset>

<fieldset>
  <Child02 Person="@person"></Child02>

  <button @onclick="@UpdatePersonAge">person.Age = 9</button>
</fieldset>
